@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Kost";
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Miriams Dagpleje</title>
        <link rel="stylesheet" href="~/css/DagplejeStyle.css" />
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <button onclick="location.href='/Home/Index'">Hjem</button>
                </div>
            </div>
            <div class="row">
                <h2>Kost</h2>
            </div>
            <div class="row">
                <h3>Underoverskrift</h3>
                <p>Noget tekst</p>
            </div>
        </div>
    </body>
</html>

